[submodule "firefox/startpage"]
	path = user/firefox/.mozilla/firefox/startpage
	url = git@github.com:tosti007/startpage.git
[submodule "assets/rofi-rbw"]
	path = assets/rofi-rbw
	url = git@github.com:fdw/rofi-rbw.git
[submodule "assets/i3lock-script"]
	path = assets/i3lock-script
	url = git@github.com:tosti007/i3lock-script.git
