/******************************************************************************
* General
******************************************************************************/
@define-color color_fg {{ special.foreground | color }};
@define-color color_bg {{ special.background | color }};
@define-color color_bo {{ border.color | color }};
@define-color color_hi mix({{ color.15 | color }}, @color_bg, {{ special.alpha / 100 }});

* {
	/* CSS RESET */
	font-family: "{{ font.regular }}";
	background: transparent;
	color: @color_fg;
	text-shadow: none;
	outline: none;
	box-shadow: none;
	border: none;
	border-radius: 0px;
}

/******************************************************************************
* Main Window
******************************************************************************/
.blank-window {
  /* background: alpha(black, 0.1); */
}

.control-center {
  background: @color_bg;
	border-left: {{ border.size }}px solid @color_bo;
	padding: {{ border.size }}px 0px;
}

.control-center-list {
	border-top: {{ border.size / 2 }}px solid @color_bo;
}
.control-center-list > * {
	border-bottom: {{ border.size / 2 }}px solid @color_bo;
}

.notification-row {
}
.notification-row:focus,
.notification-row:hover {
  background: @color_hi;
}

/******************************************************************************
* Notifications
******************************************************************************/
.floating-notifications {
	background: @color_bg;
	margin: {{ border.size }}px;
	border: {{ border.size }}px solid @color_bo;
}

.notification {
  /* margin-right: 30px; */
}

.notification-content { }
/* I forgot what this is for */
.notification-content > *:first-child > *:last-child {
	margin-top: 0.5em;
}

.close-button {
	border: {{ border.size / 2}}px solid @color_bo;
	border-radius: {{ border.radius }}px;
	padding: 0px 2px;
	margin: {{ border.size / 2}}px;
}
.close-button:hover {
  background: @color_bg;
}

/* TODO */
.notification-default-action { }
.notification-action { }
/* When alternative actions are visible */
.notification-default-action:not(:only-child) { }
/* add bottom border radius to eliminate clipping */
/*.notification-action:first-child {
  border-bottom-left-radius: 10px;
}*/

/* TODO: Figure out icon size */
.image { }
.body-image {
  background-color: white;
}

.summary {
  font-weight: bold;
}

.time {
  font-weight: bold;
  margin-right: -12px;
}

.body {
}

/******************************************************************************
* Notification Urgencies
******************************************************************************/
.low { }
.normal { }
.critical { }

/******************************************************************************
* Widget - Title
******************************************************************************/
.widget-title {
  font-size: 1.5rem;
}
.widget-title > button {
	border: {{ border.size / 2}}px solid @color_bo;
	background: @color_hi;
}
.widget-title > button:hover {
  background: @color_bg;
}

/******************************************************************************
* Widget - DND widget
******************************************************************************/
.widget-dnd {
}
.widget-dnd > switch {
	border: {{ border.size / 2}}px solid @color_bo;
}
.widget-dnd > switch:checked {
}
.widget-dnd > switch slider {
	background: @color_hi;
}

/******************************************************************************
* Widget - Mpris
******************************************************************************/
/* The parent to all players */
.widget-mpris {
	border-top: {{ border.size / 2}}px solid @color_bo;
}
.widget-mpris-player { }
.widget-mpris-player > *:first-child > *:first-child {
	/* image */
	border: {{ border.size / 2}}px solid @color_bo;
}
.widget-mpris-title {
  font-weight: bold;
}
.widget-mpris-subtitle { }
