@define-color color_fg {{ special.foreground | color }};
@define-color color_bg {{ special.background | color }};
@define-color color_bo {{ border.color | color }};

* {
	/* CSS RESET */
	font-family: sans-serif;
	font-size: 13px;
	background: transparent;
	color: @color_fg;
	text-shadow: none;
	outline: none;
	box-shadow: none;
	border: none;
	min-height: 0;
	border-radius: 0px;
}

window#waybar {
	background-color: @color_bg;
	border-right: {{ border.size }}px solid @color_bo;
}

.modules-left, .modules-center, .modules-right {
	margin-right: {{ border.size }}px;
}

tooltip {
	background-color: @color_bg;
	border: {{ border.size / 2 }}px solid @color_bo;
	border-radius: {{ border.radius }}px;
}

box > widget > * {
	min-height: 30px;
	margin: {{ border.size / 2 }}px 0px;
	padding-left: {{ border.size / 2 }}px;
	padding-right: 0px;
}

#workspaces {
	padding: 0px;
}
#workspaces > button {
	min-height: 30px;
}
#workspaces button.focused, #pulseaudio.muted {
	background-color: {{ color.0 | color }};
}

@keyframes blink-red {
	from {
		background-color: transparent;
		color: inherit;
	}
	to {
		background-color: alpha({{ color.1 | color }}, 0.7);
	}
}

#battery.warning.discharging {
	background-color: alpha({{ color.3 | color }}, 0.7);
	color: @color_bg;
}
#battery.critical.discharging {
	animation-name: blink-red;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#clock {
	padding-left: 0px;
	padding-right: 2px;
	font-size: 21px;
	font-weight: bold;
}

#custom-powermenu {
	padding: 0px;
	margin-top: -4px;
	margin-bottom: 4px;
	font-size: 30px;
}

#custom-playerctl {
	padding-left: 0px;
	margin-top: 16px;
	font-style: italic;
}

